:root {
    --background-color: rgb(13, 27, 42);
    --text-color: rgb(224, 225, 221);
    --primary-color: rgb(27, 38, 59);
    --second-color: rgb(65, 90, 119);
    --third-color: rgb(119, 141, 169);
    
    /*Dioxus alert box colors*/
    --alert-primary-color-2: var(--primary-color);
    --alert-primary-error-color: rgb(200, 0, 0);
    --alert-secondary-error-color: rgb(150, 20, 20);
    --alert-focused-border-color: rgb(0, 0, 0);
    --alert-primary-color-4: rgb(150, 150, 150);

    --alert-primary-color: rgb(100, 100, 100);
    --alert-primary-color-3: rgb(100, 100, 100);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 10mm;
}

#header-bar {
    display: flex;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    background-color: rgb(27, 38, 59, 0.8);
    border-bottom: var(--second-color) solid 1px;
    padding: 10px;
    height: 15mm;
    align-items: center;
    backdrop-filter: blur(15px);
    z-index: 99999999;
}

#website-logo {
    height: 80%;
    position: absolute;
}

#page-body {
    margin-top: 30mm;
    display: flex;
    flex-direction: column;
}

.connection-info {
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 7mm;
}

#connect-calculator-svg {
    margin-left: auto;
    margin-right: auto;
    height: 15cm;
    margin-top: 10mm;
    animation: spawn-fade-down ease-out 500ms 200ms forwards;
    opacity: 0;
}

@keyframes spawn-fade-down {
    0% {
        opacity: 0;
        transform: translateY(-1cm);
    }

    100% {
        opacity: 1;
        transform: translateY(0cm);
    }
}

@keyframes page-despawn-fade-down {
    0% {
        opacity: 1;
        transform: translateY(0cm);
    }

    99% {
        opacity: 0;
        transform: translateY(1cm);
    }

    100% {
        opacity: 0;
        transform: translateY(1cm);
        display: none;
    }
}

.fade-down-despawn {
    animation: page-despawn-fade-down ease-out 500ms 200ms forwards;
    opacity: 1;
}

#connect-button {
    width: 80mm;
    height: 12mm;
    font-size: 7mm;
    background-color: var(--primary-color);
    border: solid var(--third-color) 2px;
    border-radius: 2mm;
    color: inherit;
    cursor: pointer;
    transition: background-color ease 200ms;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8mm;
}

#connect-button:hover {
    background-color: var(--second-color);
}

#connect-page-div {
    display: flex;
    flex-direction: column;
}

#list-worlds-page-div {
    opacity: 0;
    display: none;
    flex-direction: column;
}

@keyframes page-spawn-fade-down {
    0% {
        opacity: 0;
        transform: translateY(-1cm);
    }

    100% {
        opacity: 1;
        transform: translateY(0cm);
    }
}

.page-spawn-fade-down {
    display: flex !important;
    animation: page-spawn-fade-down ease-out 500ms 700ms forwards;
}

#worlds-list-div {
    display: block;
    margin-top: 5mm;
}

.worlds-list-element {
    background-color: var(--primary-color);
    border: solid var(--second-color) 2px;
    border-radius: 5mm;
    height: 20mm;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 2mm;
    width: 200mm;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5mm;
    padding-left: 10mm;
    transition: background-color 300ms ease;
}

.worlds-list-element:hover {
    background-color: var(--second-color);
}

.worlds-list-element span {
    width: 100mm;
    text-wrap-mode: nowrap;
    overflow-x: hidden;
    font-size: 5mm;
}

.world-button-icon {
    height: 10mm;
    cursor: pointer;
    margin-right: 2mm;
    margin-left: 2mm;
    transform: scale(1);
    transition: transform ease 200ms;
}

.world-button-icon:hover {
    transform: scale(1.1);
}

.removed-world-record {
    animation: removed-world-record 800ms ease-in forwards;
}

@keyframes removed-world-record {
    0% {
        transform: translateX(0mm);
        opacity: 1;
        margin-top: 5mm;
    }

    60% {
        transform: translateX(20mm);
        opacity: 0;
        margin-top: 5mm;
    }

    100% {
        transform: translateX(20mm);
        opacity: 0;
        margin-top: -25mm;
    }
}